<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body>


        <div ng-controller="mainCtrl"> 
                <ul>
                    <li ng-repeat="(key, value) in user"> {{key}} : {{value}} 
                        
                    </li>
                </ul>
            </div>
        


   <!-- <div ng-controller="mainCtrl"> 
        <ul>
            <li ng-repeat="user in users"> {{user.name}} 
                <ul>
                    <li>Index :  {{$index}} </li>
                    <li>Premier utilisateur ?  {{$first}} </li>
                    <li>Dernier utilisateur ?  {{$last}} </li>
                    <li>Index impair ?  {{$odd}} </li>
                    <li>Index pair ?  {{$even}} </li>
                </ul>
            </li>
        </ul>
    </div> -- >


       
    

</body>
</html>