<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="angular-locale_fr-be.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>




   <div ng-controller="mainCtrl" class="container"> 


            <select ng-init="" ng-options="color1 for color1 in colors" ng-model="color2"></select>

            <p ng-style="{color: color2}">Txt2</p>

        <input type="checkbox" ng-model="checkboxRed"> Mettre le txt en rouge
        <input type="checkbox" ng-model="checkboxBold"> Mettre le txt en gras

        <div ng-class="{red: checkboxRed, bold: checkboxBold}">kad</div>
<br>
        <div ng-style="{color: 'red'}">Akkad</div>
        <div ng-class="'red'">Akkadou</div>
        <div ng-class="['red', 'bold']">kkkAkkadoum</div>
        <div ng-class="{red: true, bold: true}">kad</div>
        <div ng-class="{red: true, bold: false}">kad</div>

    </div> 
  

      
    

</body>
</html>