<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>




   <div ng-controller="mainCtrl" class="container"> 
       <table class="table">
           <tr>
               <th>Nom</th>
               <th><button ng-click="sort('pts')">Pts {{arrow('pts')}}</button></th>
               <th><button ng-click="sort('j')">J {{arrow('j')}}</button></th>
               <th><button ng-click="sort('g')">G {{arrow('g')}}</button></th>
               <th><button ng-click="sort('n')">N {{arrow('n')}}</button></th>
           </tr>
           <tr ng-repeat="team in teams">
                <td>{{team.name}} </td>
                <td>{{team.pts}} </td>
                <td>{{team.j}} </td>
                <td>{{team.g}} </td>
                <td>{{team.n}} </td>
           </tr>
       </table>
    </div> 
  

       
    

</body>
</html>